.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  background-color: rgb(185, 185, 60);
}

.logo {
  width: 150px;
  height: 110px;
  margin: 5px;
  margin-bottom: 0px;
}
.nav-items {
  font-size: 20px;
}
.nav-items > ul {
  display: flex;
  list-style: none;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}

.res-card {
  margin: 5px 15px 5px 15px;
  padding: 5px;
  width: 290px;
  height: 420px;
  box-shadow: lightgray;
}

h4 {
  color: white;
}

h3 {
  color: white;
}

.res-card:hover {
  border: 5px solid rgb(185, 185, 60);
  cursor: pointer;
}

.search {
  padding: 10px;
}

.res-logo {
  width: 100%;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}

.filter-btn {
  margin: 10px;
  cursor: pointer;
  height: 35px;
  background-color: black;
  color: white;
}
.btn-style {
  background-color: black;
  height: 35px;
  color: white;
  cursor: pointer;
}

.dark-shimmer {
  /* Add your custom styles to make the shimmer effect darker */
  margin: 35px 5px 5px 5px;
  padding: 5px;
}

.filter {
  display: flex;
}
.error-page {
  width: 99%;
  height: 450px;
  padding: 5px;
  margin: 5px;
}

.contact-form {
  margin-bottom: 20px;
  padding: 10px;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
}

input,
textarea {
  margin-bottom: 15px;
  padding: 5px;
  width: 300px;
}

button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.contact-image img {
  width: 300px;
  height: auto;
  border-radius: 50%;
}

.about-us {
  text-align: center;
}

.about-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-image img {
  width: 450px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 20px;
}

.about-description {
  text-align: left;
}

.about-description p {
  margin-bottom: 20px;
}

.btn-contact {
  width: 313px;
}
